---
import { Card, CardGrid } from "@astrojs/starlight/components";
---

<CardGrid stagger>
    <Card title="Contribution" icon="open-book">
        <p>Your contributions help us expand and improve this guide. Thank you for your input and dedication!</p>
        <a href="./contribution">Contribution</a>
    </Card>
    <Card title="Assertions" icon="approve-check-circle">
        <p>Explore the basics as well as advanced concepts of Assertions. Learn how to apply them in your code effectively.</p>
        <a href="./assertions">Assertions</a>
    </Card>
    <Card title="Tools" icon="setting">
        <p>Discover various tools for efficient assertions. Stay up-to-date with latest industry standards.</p>
        <a href="./tools">Tools</a>
    </Card>
</CardGrid>
