---
import { Card, CardGrid } from "@astrojs/starlight/components";
---

<CardGrid stagger>
  <Card title="Contribution" icon="star">
    <a href="/contribution">Contribution</a>
  </Card>
  <Card title="Assertions" icon="pencil">
    <a href="/assertions">Assertions</a>
  </Card>
  <Card title="Tools" icon="star">
    <a href="/tools">Tools</a>
  </Card>
</CardGrid>
