---
import BaseLayout from "./BaseLayout.astro";
import { Aside } from '@astrojs/starlight/components';
---

<BaseLayout>
  <Aside type="caution" title="Under development">
    <p>
      <strong>This page is currently under development.</strong> We appreciate your understanding and patience.
    </p>

    <p>
      We encourage and welcome contributions from the community to help expedite the completion of this page. If you have valuable insights, additional information, or practical examples related to this page, we would be delighted to incorporate them into this learning material.
    </p>

    <p>
      Please feel free to share your suggestions, feedback, or contributions by contacting us. Your participation is vital in shaping this documentation and ensuring its relevance and accuracy. Thank you for your support, and we look forward to collaborating with you to make this page a valuable resource.
    </p>
  </Aside>
</BaseLayout>
