name: Feature Branch Deployment

on:
  workflow_dispatch:
  push:
    branches:
      - '[0-9]+-**'

permissions:
  id-token: write
  contents: read

jobs:
  build: # Incomplete, scope of https://github.com/orgs/Idea-Pool/projects/4/views/1?pane=issue&itemId=10153808
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install
        run: npm ci
      - name: Build and test
        run: npm run build
        env:
          ASTRO_SITE: https://idea-pool.github.io/
          ASTRO_BASE: js-assertion-cheat-sheet
          PUBLIC_VERSION: v0.1.0-${{ github.sha }}
      - name: Archive Build # This archives the build folder, for now its just an index.html
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: dist
          retention-days: 1

  deploy:
    environment:
      name: aws-development
    name: Deploy feature branch
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Get branch name
        id: get_branch
        run: echo "BRANCH_ID=${GITHUB_REF_NAME}" >> $GITHUB_ENV

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: site
          path: build

      - name: Configure AWS CLI credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_CLI_ROLE_ARN }}
          role-session-name: js-assertion-cheat-sheet-feature-branch-deployment
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to S3
        run: aws s3 sync ./build s3://${{ vars.AWS_BUCKET_NAME }}/${{ env.BRANCH_ID }} --no-progress --follow-symlinks --delete

      - name: Invalidate Cloudfront
        uses: chetan/invalidate-cloudfront-action@v2
        env:
          DISTRIBUTION: ${{ vars.AWS_DISTRIBUTION_ID }}
          PATHS: "/${{ env.BRANCH_ID }}/*"

      - name: Healthcheck # Scope of https://github.com/orgs/Idea-Pool/projects/4/views/1?pane=issue&itemId=56848307
        run: echo "healthcheck"

      - name: Print deployed URL
        run: |
          URL="${{ vars.AWS_WEBSITE_URL }}/${{ env.BRANCH_ID }}"
          echo "Branch '${{ env.BRANCH_ID }}' has been successfully deployed: $URL" >> $GITHUB_STEP_SUMMARY
